*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
}

main{
	padding: 1rem;
}

.fitdist{
	text-align: right;
}

.restart{
	text-align: left;
}

.outputtable td,th{
	padding: 1rem;
}

@media only screen and (max-width: 900px),(max-height: 400px){
	.fitdist{
		text-align: center;
	}

	.restart{
		text-align: center;
	}
}