@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: 'Montserrat',sans-serif;
	padding: 0;
	font-size: 1em;
}

.btn{
	font-family: 0.85em;
}

.container-fluid{
	margin: 0;
	padding: 0;
}

main{
	border-left: 0.5rem solid #343a40;
	padding: 1rem;
	min-height: 100vh;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.fitdist{
	text-align: right;
}

.restart{
	text-align: left;
}

.outputtable td,th{
	padding: 1rem;
}

/* Media Queries */

@media only screen and (max-width: 900px),(max-height: 400px){
	.fitdist{
		text-align: center;
	}

	.restart{
		text-align: center;
	}

	.introtext{
		font-size: 1.8em;
	}
}

@media only screen and (max-width: 600px),(max-height: 300px){
	.introtext{
		font-size: 1.5em;
	}
}